.bs-g {
    box-shadow: 0px 0px 25px 0px #7ed83b;
} 

.bs-c {
    box-shadow: 0px 0px 70px -20px #000000bf;
}

.bs-a {
  box-shadow: 0px 0px 0px 6px #dedede69, 0px 0px 0px 0px #dedede;
}
.bs-b {
    box-shadow: 0px 0px 17px 3px #0000005c;
}